/* Light Theme */
body.light {
	--text-color: #000;

	--menu-bg-color: #ddd;
	--menu-hover-bg-color: #aaa;
	--menu-shortcut-text-color: #444;
	--menu-separator-color: #bbb;

	--tabs-bg-color: #eee;
	--tab-bg-color: #ccc;
	--tab-sel-bg-color: #bbb;
	--tab-sep-color: #777;

	--editor-bg-color: #fff;
	--editor-lineno-text-color: #666;
	--editor-line-sel-border: #666;

	--status-bg-color: #ddd;

	--modal-container-color: #444a;
	--modal-bg-color: #fff;
}

@media (prefers-color-scheme: light) {
	body.preferred {
		--text-color: #000;
	
		--menu-bg-color: #ddd;
		--menu-hover-bg-color: #aaa;
		--menu-shortcut-text-color: #444;
		--menu-separator-color: #bbb;
	
		--tabs-bg-color: #eee;
		--tab-bg-color: #ccc;
		--tab-sel-bg-color: #bbb;
		--tab-sep-color: #777;
	
		--editor-bg-color: #fff;
		--editor-lineno-text-color: #666;
		--editor-line-sel-border:  #666;
	
		--status-bg-color: #ddd;

		--modal-container-color: #444a;
		--modal-bg-color: #fff;
	}
}

/* Dark Theme */
body.dark {
	--text-color: #fff;

	--menu-bg-color: #444;
	--menu-hover-bg-color: #777;
	--menu-shortcut-text-color: #bbb;
	--menu-separator-color: #666;

	--tabs-bg-color: #444;
	--tab-bg-color: #333;
	--tab-sel-bg-color: #1a1a1a;
	--tab-sep-color: #444;

	--editor-bg-color: #1a1a1a;
	--editor-lineno-text-color: #999;
	--editor-line-sel-border: #999;

	--status-bg-color: #444;

	--modal-container-color: #444a;
	--modal-bg-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
	body.preferred {
		--text-color: #fff;
	
		--menu-bg-color: #444;
		--menu-hover-bg-color: #777;
		--menu-shortcut-text-color: #bbb;
		--menu-separator-color: #666;
	
		--tabs-bg-color: #444;
		--tab-bg-color: #333;
		--tab-sel-bg-color: #1a1a1a;
		--tab-sep-color: #444;
	
		--editor-bg-color: #1a1a1a;
		--editor-lineno-text-color: #999;
		--editor-line-sel-border: #999;
	
		--status-bg-color: #444;

		--modal-container-color: #444a;
		--modal-bg-color: #1a1a1a;
	}
}
